* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: #eee;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

.a-links {
    text-decoration: none !important;
    color: #ffff !important;
}

.header {

    width: 100%;
    margin: 0 auto;

    flex-wrap: wrap;
}

.navs {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform:capitalize;
    font-size: 1.6rem;
    /* background-color: #003580; */
    height: 70px;
}

.navs img {
    display: flex;
    justify-content: flex-start;
}

.brand a {
    color: #ffff !important;
    text-decoration: none !important;
}

.brand {
    width: 164px;
    height: 65px;

    transform: translateX(-100rem);
    animation: slideIn 1.5s forwards;

}

.brand span {
    color: crimson;
}

nav ul {
    display: flex;

}

@media screen and (max-width:600px) {
    nav ul {
        display: none !important;
    }

}

nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: .3s !important;
}

nav ul li:nth-child(3) {
    animation-delay: .6s;
}

nav ul li:nth-child(4) {
    animation-delay: .9s;
}

nav ul li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn 2s forwards;
    animation-timing-function: cubic-bezier(1, -0.09, 0.23, 0.06);
}

nav ul li a {
    padding: 0.4rem 0;
    margin: 0 3rem;
    position: relative;
    
}

nav ul li a:last-child {
    margin-right: 0;
    
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    /* position: absolute; */
    width: 100%;
    height: 2px;
    background-color: #61dafb;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;

}

nav ul li a::before {
    top: 0;
    transform-origin: left;
}

nav ul li a::after {
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: scaleX(1);
}








nav ul li div {
    padding: 0.4rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: px;
}

nav ul li div:last-child {
    margin-right: 0;
    top: -4px !important;
}

nav ul li div::before,
nav ul li div::after {
    content: '';
    /* position: absolute; */
    width: 100%;
    height: 2px;
    background-color: #61dafb;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;

}

nav ul li div::before {
    top: 0;
    transform-origin: left;
}

nav ul li div::after {
    bottom: 0;
    transform-origin: right;
}

nav ul li div:hover::before,
nav ul li div:hover::after {
    transform: scaleX(1);
}

@keyframes slideIn {
    from {}

    to {
        transform: translateX(0);
    }
}

.accountImg {
    position: relative;
    display: flex;
    color: #eee;
    left: 50%;
}
.services-section {
    background-color:#5a8db9;

    background-size: cover;
    padding: 60px 0 !important;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
}

.border {
    width: 160px;
    height: 2px;
    background: #5a8db9;
    margin: 40px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 25%;
    width: 23%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-box:hover .service-icon {
    background: #82ccdd;
    color: #ddd;
}

.service-title {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.service-desc {
    font-size: 12.5px !important;
    padding: 10px !important;
    font-family: monospace !important;
}

.service-link a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:960px) {
    .service-box {
        max-width: 45%;

    }
}

@media screen and (max-width:768px) {
    .service-box {
        max-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .service-box {
        max-width: 100%;
    }
}
.grow{
    width: 100% ;
    
    transform: translate3d(0px, 50px, 0px) !important;
}
