
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-size{
  width: 200px !important;
  height: 200px !important;
}
.logo-size {
  width: 85px !important;
  height: 85px !important;
}
.MuiTypography-body1 {
  font-size: 2rem !important;}
  .MuiSvgIcon-root{
    width: 2rem !important;
    height: 3.3rem !important;
  }
  .inputGrid{
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-gap: 20px;
  }
  div label{
    font-size: 13px;
  }
  .MuiTableCell-body {
  
    background: #beddf3;}
    .MuiInputLabel-outlined {
      z-index: 1;
      transform: translate(27px, 16px) scale(1) ;
      pointer-events: none;
      font-size: 18px !important;
    }
    .headLogo{
      background:#beddf3;
      border-radius: 4px;
    }
    .add-item{
      width: 600px !important;
      padding: 51px !important;
      
    }
   textarea {
     width: 100%;
     min-height: 100px;
     resize: none;
     border: 2px solid rgb(156, 160, 245);
     border-radius: 4px;
     margin: 8px 0;
     padding: 8px;
     box-sizing: border-box;
     transition: 0.3s;
     outline: none;
   }

   textarea:focus {
     border-color: rgb(121, 162, 222);
     box-shadow: 0 0 8px 0 rgb(186, 214, 255);
   }
   .inpute {
     width: 50%;
     border: 2px solid #aaa;
     border-radius: 4px;
     margin: 8px 0;
     padding: 8px;
     box-sizing: border-box;
     transition: 0.3s;
     outline: none;
   }

   .inpute:focus {
     border-color: rgb(121, 162, 222);
     box-shadow: 0 0 8px 0 rgb(186, 214, 255);
   }
   .update{
    
    color: aliceblue;
     font-size: 11px;
     text-decoration: none;
   }