
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-size{
  width: 200px !important;
  height: 200px !important;
}
.logo-size {
  width: 85px !important;
  height: 85px !important;
}
.MuiTypography-body1 {
  font-size: 2rem !important;}
  .MuiSvgIcon-root{
    width: 2rem !important;
    height: 3.3rem !important;
  }
  .inputGrid{
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-gap: 20px;
  }
  div label{
    font-size: 13px;
  }
  .MuiTableCell-body {
  
    background: #beddf3;}
    .MuiInputLabel-outlined {
      z-index: 1;
      transform: translate(27px, 16px) scale(1) ;
      pointer-events: none;
      font-size: 18px !important;
    }
    .headLogo{
      background:#beddf3;
      border-radius: 4px;
    }
    .add-item{
      width: 300px !important;
      padding: 51px !important;
      text-align: center !important;
    }
    .inpute{
      width: 170px !important;
    }
   